everything

.whiteBlock{
    width: 100%;
    height: 0px;
    background: #fff;
    position: absolute;
    z-index: 9;
}
.icon{
    width: 100%;
    height: 100%;
    -moz-opacity:.0; filter:alpha(opacity=0); opacity:0.0;
}
.whiteBlock img {
    width: 60% !important;
    margin-top: 30%;
}


.pull-right {
    display: inline;
    float: right;
    margin-top: -5em;
    position: relative;
    z-index: 9999;
}

.alignleft.size-medium.wp-image-1074 {
    margin-right: 30px;
}

#cboxLoadedContent a {
    color: #ff0072;
}

#cboxClose {
right: 20px !important;
}

.logo.mobile {
    float: left;
    margin-top: 0.25em;
}

.entry-content p {
    line-height: 24px !important;
}


/* Modal */
#cboxOverlay {
    position: fixed;
width: 100%;
height: 100%;
background: #000;
opacity: 0.8;
cursor: pointer;
visibility: visible;
}

#colorbox, #cboxOverlay, #cboxWrapper {
position: absolute;
top: 0;
left: 0;
z-index: 9999;
overflow: hidden;
}


 
#cboxContent {
    background: #000 ;
    border: 1px solid #727272;
}
#cboxWrapper h1 {
    font-size: 30px;
    line-height: 30px;
    color: white;
}

#cboxWrapper h3 {
    font-size: 30px;
    line-height: 30px;
    color: white;
    text-transform: uppercase;
    font-weight:bold;
    margin-bottom: 10px;
}

#cboxWrapper .content {
    color: #e5e5e5;
    font-size: 16px;
    margin-top: 0;
}

select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
-webkit-border-radius: 0px;
-moz-border-radius: 0px;
border-radius: 0px;
}

/* End Modal */





@media only screen and (max-width: 1150px) {
    
    .pull-right {
        display: inline;
    }
	.topnav4{margin-left:220px;}
	.headerbg_2 .theme_col {
    height:100%;    background-size: 100% !important;}
}


@media only screen and (max-width: 1118px) and (min-width: 1000px) {
    #storytellers .span4.member {
            width: 155px !important;
    }
    .alignnone.size-full.wp-image-902 {
        margin-bottom: -115px;
    }
    .formatted_1 li i {
        margin-right: 15px;
    }
    .title_faq_item {
        width: 160px !important;
    }
    #faq .title_faq_item {
        width: 220px !important;
    }
    #register.container {
        max-width: 940px;
    }
    #contact-2.container {
        max-width: 940px;
    }
    #when-and-where .heading_1 > .row-fluid {
        max-width: 940px;
    }
    .footer_bg img {
        margin-left: 10px;
    }
	.topnav4{margin-left:220px;}

    background-size: 100% !important;}

}




@media only screen and (max-width: 1000px) 
    and (min-width:800px) {
    .navbar .nav>li:nth-child(2) {
        margin-left: 0px;
    }
    .icon-bar {
        background: white !important;
    }
    #storytellers .span4.member {
        width: 120px !important;
    }
    .alignnone.size-full.wp-image-902 {
        margin-bottom: -85px;
    }
    #when-and-where .heading_1 > .row-fluid {
        max-width: 724px;
    }
    #register.container {
        max-width: 724px;
    }
    #contact-2.container {
        max-width: 724px;
    }
	.topnav4{margin-left:200px;}
	.headerbg_2 .theme_col {
    height:100%;
    background-size: 100% !important;}

}

@media only screen and (max-width: 800px) and (min-width: 420px) {


    #storytellers .span4.member {
        width: 30%;
        float: left;
    }
    .footer_bg {
        text-align: center;
    }
    #contact-2.container {
        width: 90% !important;
    }
    #register.container {
        width: 90% !important;
    }
    #when-and-where.container {
        width: 90% !important;
    }
    .alignnone.size-full.wp-image-902 {
        margin-bottom: -85px;
    }
    #when-and-where .span1 {
        display: none;
    }
    #faq .title_faq_item {
        width: 150px !important;
    }
    #when-and-where .title_faq_item {
        width: 100px !important;
    }
    .logo.mobile {
        display: block !important;
        margin-left: .5em;
    }
    .entry-content p {
        text-align: left;
    }
    .navbar-inverse .btn-navbar {
        background: #ff0072 !important;
        margin-top: 0.55em;
    }
	.topnav4{margin-left:90px;}
	.container{width:auto;}
	#f .span2.a{width:30%}
	

a {
    color:#CCC;
	
}
.nav-pills > li > a{border-radius:0px;}
}
@media (max-width: 799px) and (min-width: 600px){
.hc-nav li a{
	border-radius:0;
	margin:0;
	line-height:18px;
	padding:10px 25px;
}

/**.row-fluid.span2{
width: 24.30939226519337%;
height:400px;
}*/
#aaa,#bbb{padding-left:160px;
width:170px;}
#car2{padding-left:0px;}
.s0,.s1,.s2,.s3,.s4{float:left;
display:inline-block;
max-width:25%;
height:400px;}

.container{width:auto;}
.s1,.s2,.s3{padding-left:10%;}
.s3,.s4{ padding-left:17%;}
.topnav4{padding-left:20px;}

/**九宫格**/
.t21,.t22,.t23{text-align:center;}
.t31,.t32,.t33,.t34,.t35,.t36,.t37,.t38,.t39{ float:left;
max-width:17.3333333333333333333333333333%;
height:220px;
padding-left:12%;
padding-top:5%;}






/**#feq ul li{ line-height:100%;
padding-left:5%;
color:#36C;
font-size:0.9em;
 }
#feq ul li a:hover{color:#0CF;
}
**/


img { border: 0px; }
#banner { margin: 8% auto 0px auto; padding: 0px; width: 588px; height: 225px; }
#banner ul li video{height:225px;}
.slides { margin: 0px auto; width: 588px; height: 225px; overflow: hidden; position: relative; }
.slide-pic { margin: 0px; padding: 0px; width: 600px; overflow: hidden; list-style: none; }
    .slide-pic img { width: 588px; height: 225px; }
    .slide-pic li { display: none; }
        .slide-pic li.cur { display: block; }
.slide-li { margin: 0px; padding: 0px; left: 0px; bottom: 0px; position: absolute; }
    .slide-li li { margin: 0px; padding: 0px; width: 63px; height: 5px; float: left; overflow: hidden; list-style: none; }
    .slide-li a { width: 190px; height: 10px; color:#09F; font-size: 12px; display: block; }
        .slide-li a:hover { color:#09F; text-decoration: none; }
.op li { background: #999999; filter: alpha(opacity=60); opacity: 0.6; }
    .op li.cur { background:#09C; }
.slide-txt span { display: none; }
.infos {text-align: center;font-size:60px;padding-top:4%;
line-height:40px;}
	.infos li { display: none; }
	.infos li.cur { display: block; }
.q1{height:7%;
line-height:40px;}
.next1{ max-height:70%;
padding-top:2.8%;

}
}
@media (max-width: 1000px) and (min-width: 800px){
.hc-nav li a{
	border-radius:0;
	margin:0;
	line-height:18px;
	padding:10px 30px;
}

.s0,.s1,.s2,.s3,.s4{float:left;
display:inline-block;
max-width:16%;
padding-left:2%;
height:auto;}
	

img { border: 0px; }
#banner { margin: 30px auto 0px auto; padding: 0px; width: 755px; height: 300px; }
#banner ul li video{height:300px;}
.slides { margin: 0px auto; width: 755px; height: 300px; overflow: hidden; position: relative; }
.slide-pic { margin: 0px; padding: 0px; width: 755px; overflow: hidden; list-style: none; }
    .slide-pic img { width: 755px; height: 300px; }
    .slide-pic li { display: none; }
        .slide-pic li.cur { display: block; }
.slide-li { margin: 0px; padding: 0px; left: 0px; bottom: 0px; position: absolute; }
    .slide-li li { margin: 0px; padding: 0px; width: 80.888px; height: 5px; float: left; overflow: hidden; list-style: none; }
    .slide-li a { width: 190px; height: 10px; color:#09F; font-size: 12px; display: block; }
        .slide-li a:hover { color:#09F; text-decoration: none; }
.op li { background: #999999; filter: alpha(opacity=60); opacity: 0.6; }
    .op li.cur { background:#09C; }
.slide-txt span { display: none; }
.infos {text-align: center;font-size:4.18em;padding-top:2.333%;
line-height:20px;}
	.infos li { display: none; }
	.infos li.cur { display: block; }
.q1{height:5%;
line-height:20px;}
.next1{ max-height:70%;
padding-top:1.5%;

}
}

	
	}
@media (max-width: 1200px) and (min-width: 1000px){

	
	
	}
	
/**点评嘉宾八百到一千**/	
@media (max-width: 1000px) and (min-width: 800px)	
{
	
.s0,.s1,.s2,.s3,.s4{float:left;
display:inline-block;
max-width:23%;
height:400px;}

.container{width:auto;}
.s1,.s2,.s3{padding-left:12.933%;}
.s3,.s4{ padding-left:17.777%;}
	
	
/**九宫格**/
.t21,.t22,.t23{text-align:center;}
.t31,.t32,.t33,.t34,.t35,.t36,.t37,.t38,.t39{ float:left;
max-width:17.3333333333333333333333333333%;
height:220px;
padding-left:12%;
padding-top:5%;}



/****深度剖析***/

.ff,.RF{ text-align:center;}
.f0,.f1,.f2{float:left;
display:inline-block;
padding-left:6%;
max-width:14%;
min-width:10%;
height:300px;}
.f3 {
width: 30%;
float: left;
display: inline-block;
margin-left: 4.98%;

border-left: 1px solid #ddd;
} 
#feq ul{ margin-left:21%;}
#feq ul li {
	list-style:none;
line-height: 180%;
padding-left: 13%;
color: #36C;
position: relative;
left: -20.68%;
font-size:0.9em;
}
#feq ul li a:hover{color:#0CF;
}

	}
	
	
@media (max-width: 1200px) and (min-width: 1001px){
/**九宫格**/
.t21,.t22,.t23{text-align:center;}
.t31,.t32,.t33,.t34,.t35,.t36,.t37,.t38,.t39{ float:left;
max-width:17.3333333333333333333333333333%;
height:250px;
padding-left:12%;
padding-top:5%;}
	
	}	
	
	
	
	
	
	
	
	
	
	
	
	
@media (max-width: 1400px) and (min-width: 1201px)
{
	
	/**九宫格**/
.t21,.t22,.t23{text-align:center;}
.t31,.t32,.t33,.t34,.t35,.t36,.t37,.t38,.t39{ float:left;
max-width:17.3333333333333333333333333333%;
height:300px;
padding-left:12%;
padding-top:5%;}
	
	
	}

@media only screen and (min-width: 749px) and (max-width: 799px) {
    #storytellers .span4.member {
        width: 28%;
        float: left;
		
	
    }

}
@media only screen and (max-width: 420px) {
    
    #theme_col_180 {
        background-size: 100% !important;
    }
    #theme_col_780 {
        background-size: 175% !important;
    }
    #theme_col_74 {
        background-size: 175% !important;
    }
    #theme_col_152 {
        background-size: 175% !important;
    }
    .heading_1 iframe {
        display: block;
    }
    .alignnone.size-full.wp-image-902 {
        margin-bottom: -50px;
        display: none;
    }
    #faqs_title {
        text-align: right;
    }
    .navbar-inverse .btn-navbar {
        background: #ff0072 !important;
        margin-top: 0.55em;
    }
    .heading_1 .span2{
            display: none;
    }
    .full_footer{
        height:auto;
    }
    .top-title {
        text-align:center;
    }
    .sponsors img {
        max-width: 140px !important;
        float: none;
    }
    .logo.mobile {
        display: block !important;
        margin-left: .5em;
    }
    #faq .row-fluid [class*="span"] {
        min-height: 0px;
    }
    
    #faq .span1 {
        display: none;
    }

    .span4.member {
        padding-bottom: 40px;
    }
    #storytellers h5 {
        margin-top: -20px;
    }
    .span4.member > p {
        line-height: 14px;
    }
    .span4.member p {
        padding: 0;
    }
    .side-design, .side-design-2, .side-design-3, .side-design-4 {
        display: none;
    }
    .navbar .nav>li:nth-child(2) {
        margin-left: 0;
    }
    .navbar-inverse .btn-navbar {
        background: #ff0072 !important;
    }
    #contact-2 .span3 {
        font-size: 18px;
        line-height: 24px;
    }
    #sponsors img {
        margin: 0 auto;
        float: none;
    }
    #contact-2 strong {
        margin-bottom: -18px;
    }
	.container{width:auto;}
	

/**	#feq ul li{ line-height:100%;
padding-left:4%;
color:#36C;
 }
#feq ul li a:hover{color:#0CF;
}

	
**/	
}
	
	
@media only screen and (max-width: 599px){	
	
img { border: 0px; }
#banner { margin: 10% auto 0px auto; padding: 0px; width: 400px; height: 150px; }
#banner ul li video{height:150px;}
.slides { margin: 0px auto; width: 400px; height: 150px; overflow: hidden; position: relative; }
.slide-pic { margin: 0px; padding: 0px; width: 400px; overflow: hidden; list-style: none; }
    .slide-pic img { width: 400px; height: 150px; }
    .slide-pic li { display: none; }
        .slide-pic li.cur { display: block; }
.slide-li { margin: 0px; padding: 0px; left: 0px; bottom: 0px; position: absolute; }
    .slide-li li { margin: 0px; padding: 0px; width: 41.22222px; height: 5px; float: left; overflow: hidden; list-style: none; }
    .slide-li a { width: 190px; height: 10px; color:#09F; font-size: 12px; display: block; }
        .slide-li a:hover { color:#09F; text-decoration: none; }
.op li { background: #999999; filter: alpha(opacity=60); opacity: 0.6; }
    .op li.cur { background:#09C; }
.slide-txt span { display: none; }
.infos {text-align: center;font-size:60px;padding-top:11%;
line-height:60px;}
	.infos li { display: none; }
	.infos li.cur { display: block; }
.q1{height:13%;
line-height:60px;}
.next1{ max-height:70%;
padding-top:3.8%;

}

.s0,.s1,.s2,.s3,.s4{float:left;
display:inline-block;
max-width:23%;
height:400px;}

.container{width:auto;}
.s1,.s2,.s3{padding-left:12.333%;}
.s3,.s4{ padding-left:17.777%;}
.topnav4{padding-left:20px;}

.t21,.t22,.t23{text-align:center;}
.t31,.t32,.t33,.t34,.t35,.t36,.t37,.t38,.t39{ float:left;
max-width:24.3333333333333333333333333333%;
height:200px;
padding-left:6.5%;
padding-top:3%;}






}
#feq ul li a:hover{color:#0CF;
}

/**
#feq ul li{ line-height:100%;
padding-left:6%;
color:#36C;
font-size:0.8em;
 }
#feq ul li a:hover{color:#0CF;
}
**/

}




@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {

}

@media only screen and (min-width: 1201px)
{
/**点评嘉宾**/


.s0,.s1,.s2,.s3,.s4{float:left;
display:inline-block;
max-width:17%;
padding-left:2.555%;
height:400px;
zoom:1;
margin-top:-2.5%;}


/**九宫格**/
.t21,.t22,.t23{text-align:center;}
.t31,.t32,.t33,.t34,.t35,.t36,.t37,.t38,.t39{ float:left;
max-width:17.3333333333333333333333333333%;
height:300px;
padding-left:12%;
padding-top:5%;}




/****深度剖析***/

.ff,.RF{ text-align:center;
zoom:1;}
.f0{padding-left:20px;}
.f0,.f1,.f2{float:left;
display:inline-block;
padding-left:60px;
display:inline;
 
max-width:14%;
min-width:5%;
height:300px;
*display:inline;
zoom:1;}
.f3 {
width: 30%;
float: left;
display: inline-block;
margin-left: 5.98%;
*display:inline;

border-left: 1px solid #ddd;
zoom:1;} 
#feq ul{ margin-left:21%;
*display:inline;
zoom:1;}
#feq ul li {
    list-style:none;
line-height: 180%;
padding-left: 13%;
color: #36C;
position: relative;
left: -21.68%;
font-size:0.9em;
*display:inline;
zoom:1;}
#feq ul li a:hover{color:#0CF;
}

article,aside,dialog,footer,header,section,footer,nav,figure,menu{display:block;}   
    
    
    
    
    
    }